@model WebBanHang.Models.EF.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<h3 class="text-center text-info">Chỉnh sửa thông tin tài khoản</h3>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new
{ enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <fieldset class="col-md-8">
            <h3 class="text-center">Thông tin cơ bản</h3>
            <div class="form-horizontal">
                <hr />
                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type="email" } })*@
                        <input type="email" name="Email" class="form-control" value="@Model.Email" />
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="col-md-2 col-md-offset-1 "> <input id="IDGen1" type="radio" name="Genre" value="Nam" />Nam </div>
                        <div class="col-md-2 col-md-offset-1 "> <input id="IDGen2" type="radio" name="Genre" value="Nữ" />Nữ </div>
                        <div class="col-md-2 col-md-offset-1 "> <input id="IDGen3" type="radio" name="Genre" value="Khác" />Khác </div>
                        @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                        <script>
                            var gen="@Model.Genre";
                            if(gen=='Nam') $("#IDGen1").attr('checked', true);
                            else if(gen=='Nữ') $("#IDGen2").attr('checked', true);
                            else $("#IDGen3").attr('checked', true);
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                      @*  @Html.TextBoxFor(model => model.Sales.Last().BeginDate, "{0:yyyy-MM-dd}", new { @class = "col-md-4", @type = "date" })*@


                        @Html.EditorFor(model => model.BirthDay, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="tel" name="Phone" class="form-control" value="@Model.Phone"/>
                        @*@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type="tel" } })*@
                       @*// @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Permission, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 ">
                        @*@Html.EditorFor(model => model.Permission, new { htmlAttributes = new { @class = "form-control" } })*@
                        <div class="col-md-2 col-md-offset-1 "> <input type="radio" name="Permission" value="1" id="IDPer1"/> Quản trị viên </div>
                        <div class="col-md-2 col-md-offset-1 "> <input type="radio" name="Permission" value="0" id="IDPer2" />Khách hàng </div>
                        <script> 
                            var per=@Model.Permission;
                            //alert(per);
                            var per1=document.getElementById("IDPer1");
                            var per2=document.getElementById("IDPer2");

                            if(per==1) per1.checked=true;
                            else per2.checked=true;
                        </script>
                        @*@Html.ValidationMessageFor(model => model.Permission, "", new { @class = "text-danger" })*@
                    </div>
                </div> 
            </div>
        </fieldset>
        <fieldset class="col-md-4">
            <h3 class="text-center">Ảnh đại diện</h3>
            <div class="form-horizontal">
                <hr />
                <div class="col-md-12 text-center">
                    <img src=@Url.Content(@Model.Avatar) class="img-thumbnail img-circle" width="250" height="250" id="IIdAvatar" />
                </div>
                <div class="form-group col-md-4 col-md-offset-4-8">
                    <label class="control-label col-md-2">Avatar</label>
                    <div class="col-md-10 text-center">
                        <input type="file" name="Avatar" onchange="PreviewImage(event)" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-center">
            <a href=@Url.Action("Index") class="btn btn-info"> Hủy/Trở về danh sách</a>
            <input type="submit" value="Cập nhật tài khoản" class="btn btn-success" />
        </div>
    </div>

}


<script src="~/Content/Admin/MyJS/UploadImage.js"></script>

