@model PagedList.IPagedList<WebBanHang.Models.EF.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Content/Admin/MyJS/deleteProduct.js"></script>
<h2>Danh sách sản phẩm</h2>

<p>
    <a href="Product/Create"> <img id="addPro" class="img-thumbnail icon-hover" width="40" height="40" src="~/Data/Admin/Image/Icon/AddImage.png" /></a>
    @using (Html.BeginForm("DisableProducts", "Product", FormMethod.Get))
    {
        <input name="searchStr" value="@ViewBag.CurrentFilter" class="search-field" placeholder="Tìm kiếm..." />
        <input type="submit" value="Tìm" class="search-button" />
    }
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th class="text-center">
            Hình ảnh
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.Name)*@
            Tên
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.ProductCategory.Name)*@
            Loại
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.Producer.Name)*@
            Nhà SX
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.Price)*@
            Giá
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.Quantity)*@
            Số lượng
        </th>
        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.CreateDate)*@
            Ngày tạo
        </th>
        <th class="text-center">Tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr id="row_@item.ID">
            <td class="text-center">
                @*<img src=@Url.Content("~/Data/Admin/Image/Product/mimixImage.png") width="100" height="100"/>*@
                @*@foreach(var image in item.Images)
                    {
                        <img src=@Url.Content(@image.Src)  width="100" height="100" class="img-thumbnail">
                    }*@
                @{
                    if (item.Images != null)
                    {
                        var image = item.Images.ToList();
                        <img src=@Url.Content(image[0].Src) class="img-thumbnail" width="50" height="50">
                    }
                    else
                    {
                        <img src="~/Data/Admin/Image/Product/Product_default.png" class="img-thumbnail" width="50" height="50">
                    }

                }
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ProductCategory.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Producer.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td class="text-center">
                <a href=@Url.Action("Edit", new { ID = @item.ID })><img src="~/Data/Admin/Image/Icon/EditImage.png" class="img-thumbnail icon-hover" data-ID="@item.ID" width="40" height="40" /></a>
                <img src="~/Data/Admin/Image/Icon/unDeleteImage.png" data-id="@item.ID" class="img-thumbnail ICUnDeleteProduct icon-hover" width="40" height="40" />
                <img src="~/Data/Admin/Image/Icon/ShiftDeleteImage.jpg" data-id="@item.ID" class="img-thumbnail ICShiftDeleteProduct icon-hover" width="40" height="40" />
            </td>
        </tr>
                    }

</table>



<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("DisableProducts",
    new { page = page, currentFilter = ViewBag.CurrentFilter }))
<style>
    .icon-hover:hover {
        cursor: pointer;
    }
</style>




